# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mvanwenjian\day10_26\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
